COSAS POR HACER

1 REORDENAR LAS TABLAS DE AÑO 2012
--
2 CAMBIARLE LOS NOMBRES A LA SEGUNDA TABLA
--
3 SEPARAR LOS ELEMENTOS EN PERIODO A SEMANA Y PERIODO
--
4 ELIMINAR ELEMENTOS DAÑADOS Y NULOS

POSDATA: AVISARLE AL SERNAPESCA QUE NO ENTIENDO QUE ACS ES EL MODIF DESCANSO 2 :)

In [12]:
#Sector Pinox
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn as sk


archivo = pd.read_excel('Cargas_parasitarias_2012_2024.xlsx')
# 'archivo' already contains the excel data, access sheets directly
df = pd.read_excel('Cargas_parasitarias_2012_2024.xlsx', sheet_name="2014-2024")  # Changed to read the original file
df2 = pd.read_excel('Cargas_parasitarias_2012_2024.xlsx', sheet_name="2012-2013") # Changed to read the original file
archivo.info()
print(df.head())
archivo.describe()
print(df2.head())
archivo.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137143 entries, 0 to 137142
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Código Centro            137143 non-null  object
 1   semana                   137143 non-null  int64
 2   Año                      137143 non-null  int64
 3   Región                   137143 non-null  object
 4   ACS                      137143 non-null  object
 5   Especie                  137143 non-null  object
 6   Prom. Hembras Ovígeras   137143 non-null  float64
 7   Prom. Adultos Móviles    137143 non-null  float64
 8   Prom. Juveniles          137143 non-null  float64
 9   Prom. Parásitos Totales  137143 non-null  float64
 10  Temperatura              137143 non-null  object
 11  Salinidad                137143 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 12.6+ MB
  Código Centro  semana   Año    Región       ACS               Especie  \
0        100068       1  2014  X REGION  ACS 10 A  Salmon Del Atlantico
1        100104       1  2014  X REGION  ACS 10 A       Trucha Arcoiris
2        100176       1  2014  X REGION  ACS 17 A       Trucha Arcoiris
3        100182       1  2014  X REGION   ACS 3 B  Salmon Del Atlantico
4        100189       1  2014  X REGION   ACS 3 B       Trucha Arcoiris

   Prom. Hembras Ovígeras  Prom. Adultos Móviles  Prom. Juveniles  \
0                   0.750                  1.400            2.900
1                   4.650                  4.275            3.275
2                   2.600                  2.900            2.600
3                   1.200                  1.250            0.925
4                   4.575                  3.375            2.575

   Prom. Parásitos Totales Temperatura Salinidad
0                 5.050000        13.1        32
1                12.200001        11.8        35
2                 8.100000        15.6        20
3                 3.375000          12        32
4                10.525000        12.8        32
                               Período  Cóigo Centro     Región       ACS  \
0  Semana 1 (2-ENE-2012 al 8-ENE-2012)      110228.0  XI REGION  ACS 25 B
1  Semana 1 (2-ENE-2012 al 8-ENE-2012)      110261.0  XI REGION  ACS 25 B
2  Semana 1 (2-ENE-2012 al 8-ENE-2012)      110714.0  XI REGION  ACS 26 A
3  Semana 1 (2-ENE-2012 al 8-ENE-2012)      104085.0   X REGION     ACS 8
4  Semana 1 (2-ENE-2012 al 8-ENE-2012)      110260.0  XI REGION  ACS 25 A

                  Especie  Temperatura Promedio  Salinidad Promedio  \
0  SALMON PLATEADO O COHO                 12.55                20.0
1    SALMON DEL ATLANTICO                 12.00                22.0
2    SALMON DEL ATLANTICO                 12.00                29.0
3    SALMON DEL ATLANTICO                 15.70                32.0
4  SALMON PLATEADO O COHO                 11.70                19.0

   Promedio Juv,  Promedio HO  Promedio AM  Parásitos totales promedio  \
0           0.00         0.00         0.00                        0.00
1           0.00         0.00         0.00                        0.00
2           1.50         1.12         0.88                        3.50
3           0.08         0.00         0.00                        0.08
4           0.00         0.00         0.00                        0.00

   Promedio HO+AM
0             0.0
1             0.0
2             2.0
3             0.0
4             0.0

,Código Centro,semana,Año,Región,ACS,Especie,Prom. Hembras Ovígeras,Prom. Adultos Móviles,Prom. Juveniles,Prom. Parásitos Totales,Temperatura,Salinidad
0,100068,1,2014,X REGION,ACS 10 A,Salmon Del Atlantico,0.750,1.400,2.900,5.050000,13.1,32
1,100104,1,2014,X REGION,ACS 10 A,Trucha Arcoiris,4.650,4.275,3.275,12.200001,11.8,35
2,100176,1,2014,X REGION,ACS 17 A,Trucha Arcoiris,2.600,2.900,2.600,8.100000,15.6,20
3,100182,1,2014,X REGION,ACS 3 B,Salmon Del Atlantico,1.200,1.250,0.925,3.375000,12,32
4,100189,1,2014,X REGION,ACS 3 B,Trucha Arcoiris,4.575,3.375,2.575,10.525000,12.8,32

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137143 entries, 0 to 137142
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Código Centro            137143 non-null  object
 1   semana                   137143 non-null  int64
 2   Año                      137143 non-null  int64
 3   Región                   137143 non-null  object
 4   ACS                      137143 non-null  object
 5   Especie                  137143 non-null  object
 6   Prom. Hembras Ovígeras   137143 non-null  float64
 7   Prom. Adultos Móviles    137143 non-null  float64
 8   Prom. Juveniles          137143 non-null  float64
 9   Prom. Parásitos Totales  137143 non-null  float64
 10  Temperatura              137143 non-null  object
 11  Salinidad                137143 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 12.6+ MB

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46178 entries, 0 to 46177
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Período                     46175 non-null  object
 1   Cóigo Centro                46175 non-null  float64
 2   Región                      46175 non-null  object
 3   ACS                         46175 non-null  object
 4   Especie                     46175 non-null  object
 5   Temperatura Promedio        46175 non-null  float64
 6   Salinidad Promedio          46175 non-null  float64
 7   Promedio Juv,               46175 non-null  float64
 8   Promedio HO                 46175 non-null  float64
 9   Promedio AM                 46175 non-null  float64
 10  Parásitos totales promedio  19378 non-null  float64
 11  Promedio HO+AM              46175 non-null  float64
dtypes: float64(8), object(4)
memory usage: 4.2+ MB

In [4]:
df.head()

,Código Centro,semana,Año,Región,ACS,Especie,Prom. Hembras Ovígeras,Prom. Adultos Móviles,Prom. Juveniles,Prom. Parásitos Totales,Temperatura,Salinidad
0,100068,1,2014,X REGION,ACS 10 A,Salmon Del Atlantico,0.750,1.400,2.900,5.050000,13.1,32
1,100104,1,2014,X REGION,ACS 10 A,Trucha Arcoiris,4.650,4.275,3.275,12.200001,11.8,35
2,100176,1,2014,X REGION,ACS 17 A,Trucha Arcoiris,2.600,2.900,2.600,8.100000,15.6,20
3,100182,1,2014,X REGION,ACS 3 B,Salmon Del Atlantico,1.200,1.250,0.925,3.375000,12,32
4,100189,1,2014,X REGION,ACS 3 B,Trucha Arcoiris,4.575,3.375,2.575,10.525000,12.8,32

In [5]:
df2.head()

,Período,Cóigo Centro,Región,ACS,Especie,Temperatura Promedio,Salinidad Promedio,"Promedio Juv,",Promedio HO,Promedio AM,Parásitos totales promedio,Promedio HO+AM
0,Semana 1 (2-ENE-2012 al 8-ENE-2012),110228.0,XI REGION,ACS 25 B,SALMON PLATEADO O COHO,12.55,20.0,0.00,0.00,0.00,0.00,0.0
1,Semana 1 (2-ENE-2012 al 8-ENE-2012),110261.0,XI REGION,ACS 25 B,SALMON DEL ATLANTICO,12.00,22.0,0.00,0.00,0.00,0.00,0.0
2,Semana 1 (2-ENE-2012 al 8-ENE-2012),110714.0,XI REGION,ACS 26 A,SALMON DEL ATLANTICO,12.00,29.0,1.50,1.12,0.88,3.50,2.0
3,Semana 1 (2-ENE-2012 al 8-ENE-2012),104085.0,X REGION,ACS 8,SALMON DEL ATLANTICO,15.70,32.0,0.08,0.00,0.00,0.08,0.0
4,Semana 1 (2-ENE-2012 al 8-ENE-2012),110260.0,XI REGION,ACS 25 A,SALMON PLATEADO O COHO,11.70,19.0,0.00,0.00,0.00,0.00,0.0

In [8]:
# Convertir las columnas a float64 de forma segura
df['Código Centro'] = pd.to_numeric(df['Código Centro'], errors='coerce')
df['Temperatura'] = pd.to_numeric(df['Temperatura'], errors='coerce')
df['Salinidad'] = pd.to_numeric(df['Salinidad'], errors='coerce')

# Verificar los cambios de tipo
df.info()

# Mostrar filas con valores no convertidos (NaN introducidos por 'coerce')
columnas = ['Código Centro', 'Temperatura', 'Salinidad']
nan_rows = df[df[columnas].isna().any(axis=1)]

print("\nFilas con datos no convertibles:")
print(nan_rows)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137143 entries, 0 to 137142
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Código Centro            137142 non-null  float64
 1   semana                   137143 non-null  int64
 2   Año                      137143 non-null  int64
 3   Región                   137143 non-null  object
 4   ACS                      137143 non-null  object
 5   Especie                  137143 non-null  object
 6   Prom. Hembras Ovígeras   137143 non-null  float64
 7   Prom. Adultos Móviles    137143 non-null  float64
 8   Prom. Juveniles          137143 non-null  float64
 9   Prom. Parásitos Totales  137143 non-null  float64
 10  Temperatura              137134 non-null  float64
 11  Salinidad                137134 non-null  float64
dtypes: float64(7), int64(2), object(3)
memory usage: 12.6+ MB

Filas con datos no convertibles:
        Código Centro  semana   Año      Región       ACS  \
8118         102945.0      31  2014    X REGION    ACS 16
10416             NaN      39  2014           -         -
24285        120089.0      40  2015  XII REGION  ACS 54 A
35090        120089.0      39  2016  XII REGION  ACS 54 A
48996        103426.0       1  2018  XIV REGION         -
49666        100093.0       4  2018  XIV REGION         -
56034        120127.0      28  2018  XII REGION    ACS 57
60861        120123.0      46  2018  XII REGION    ACS 58
110237       120069.0      25  2022  XII REGION    ACS 56
119194       120127.0       9  2023  XII REGION    ACS 57

                     Especie  Prom. Hembras Ovígeras  Prom. Adultos Móviles  \
8118                       -                     0.0                   0.00
10416   Salmon Del Atlantico                     3.4                   0.85
24285                      -                     0.0                   0.00
35090                      -                     0.0                   0.00
48996                      -                     0.0                   0.00
49666                      -                     0.0                   0.00
56034                      -                     0.0                   0.00
60861                      -                     0.0                   0.00
110237                     -                     0.0                   0.00
119194                     -                     0.0                   0.00

        Prom. Juveniles  Prom. Parásitos Totales  Temperatura  Salinidad
8118              0.000                    0.000          NaN        NaN
10416             0.925                    5.175         7.84      21.67
24285             0.000                    0.000          NaN        NaN
35090             0.000                    0.000          NaN        NaN
48996             0.000                    0.000          NaN        NaN
49666             0.000                    0.000          NaN        NaN
56034             0.000                    0.000          NaN        NaN
60861             0.000                    0.000          NaN        NaN
110237            0.000                    0.000          NaN        NaN
119194            0.000                    0.000          NaN        NaN

In [9]:
# Contar elementos que contienen "ACS"
acs_count = df['ACS'].str.contains('ACS', na=False).sum()

# Contar elementos que no contienen "ACS"
non_acs_count = len(df) - acs_count

print(f"Elementos con 'ACS': {acs_count}")
print(f"Elementos con otra cosa: {non_acs_count}")

Elementos con 'ACS': 134744
Elementos con otra cosa: 2399

In [ ]:
# Valores únicos en las columnas Región, semana y Especie
regiones_unicas = df['Región'].unique()
semanas_unicas = df['semana'].unique()
especies_unicas = df['Especie'].unique()

print("Regiones únicas:", regiones_unicas)
print("Semanas únicas:", semanas_unicas)
print("Especies únicas:", especies_unicas)

# Comprobar si hay datos vacíos en la columna 'semana'

Regiones únicas: ['X REGION' 'XI REGION' 'XIV REGION' 'XII REGION' '-']
Semanas únicas: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53]
Especies únicas: ['Salmon Del Atlantico' 'Trucha Arcoiris' 'Salmon Plateado O Coho' '-']
No hay datos vacíos en la columna 'semana'.